<div>
    {{#each this}}
    <section>
        <div>
            {{user.name}}
        </div>
        <div class="text">
            {{comment_details}}
        </div>
    </section>
    {{/each}}

</div>